{% block content %}
    <h2> Ustawienia </h2>
        <form method="POST" action="/processing">
            {{ form.hidden_tag("SECRET") }}
            <fieldset>
                <div>
                    {{ form.username.label }}
                    <p>
                    {{ form.username(size=50) }}
                    </p>
                </div>
                <div>
                    {{ form.password.label }}
                    <p>
                    {{ form.password(size=50) }}
                    </p>
                </div>
                <div>
                    {{ form.hashtag.label }}
                    <p>
                    {{ form.hashtag(size=50) }}
                    </p>
                </div>
            </fieldset>
            <p></p>
            <div>
                {{ form.remember.label }}
                {{ form.remember(size=12) }}
            </div>
            <p></p>
            <div>
                {{ form.submit(class="btn bnt-outline-info") }}
            </div>
        </form>
{% endblock %}